.header {
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: var(--body-color);

  top: 0;
  left: 0;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  align-items: center;
}

.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.coloured {
  color: var(--base-color);
}

.scroll {
  box-shadow: 0 0 12px rgba(0, 0, 0, .1);
}