.swiper {
  z-index: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .swiper {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .swiper {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1120px) {
  .swiper {
    max-width: 1120px;
  }
}