.ul li {
  text-align: center;
}

.ul li a {
  position: relative;
  transition: .2s;
}

.ul li a:hover {
  color: var(--base-color);
}

.ul li a::after {
  content: '';
  height: 2px;
  width: 0%;
  background: var(--base-color);
  position: absolute;
  left: 50%;
  bottom: -1.5rem;
  transition: .5s;
}

.ul li a:hover::after {
  width: 80%;
  left: 10%;
}

.desktop{
  visibility: hidden;
}

.links {
  font: 400 1rem var(--title-font);
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .desktop{
    visibility: visible;
  }

  .ul {
    display: flex;
    gap: 2rem;
  }
}

@media screen and (max-width: 1199px) {
  .container ul {
    gap: 4rem;
  }

  .close {
    position: absolute;
  
    right: 1.5rem;
    top: 1.5rem;
  }
}