.header {
  /* max-width: 90vw; */
}

.testimonials {
  background: white;
}

.swiper {
  width: 97vw;
}

.swiperSlide {
  
}

.userImage {
  clip-path: circle();
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.testimonialList {

}

.testimonial {

}