.grid {
    display: grid;
    gap: 4rem;
}

.button {
    display: flex;
    justify-content: center;
}

.text p {
    margin-bottom: 2rem;
}

.contactList ul li {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

@media screen and (min-width: 1200px) {
    .grid {
        grid-auto-flow: column;
        align-items: center;
    }

    .text {
        max-width: 25rem;
    }
}