.modal {
  position: absolute;
  visibility: hidden;
  left: 0;
  top: 0;
  transform: translateY(30px);
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.show {
  visibility: visible;
  transform: translateY(0px);
  z-index: 1;
  opacity: 1;
}