.container {
  margin: 0 1.5rem;
}

.img {
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

.title {
  font: 700 var(--title-font-size) 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smooothing: auto;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: var(--subtitle-font-size);
}

.mobile {
  display: none;
}

@media screen and (min-width: 1200px){
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199px){
  .mobile{
    display: block;
  }

  .desktop {
    display: none;
  }
}