.container {
  margin: 0 1.5rem;
}

.img {
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

.title {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smooothing: auto;
}